modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
CLIENT_ORIGINS = "https://vedantamplayschool-byte.github.io"
JWT_COOKIE_EXPIRES_DAYS = "7"
JWT_EXPIRES_IN = "7d"
MAX_FILE_SIZE_MB = "5"
NODE_ENV = "production"
JWT_SECRET = "f427f8b622f9ad1e87164a76f8924762b1ef6ad7130d1f0eff0a32a2bac13f9bd9a2bd4279413e4a7496d8b4334f0ac2"
